* {
	margin: 0px;
	padding: 0px;
}

ul,
li {
	list-style-type: none;
}

::-webkit-scrollbar {
	display: none;
}

.main_views {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.nav_wrap {
	height: 44px;
	position: fixed;
	z-index: 3;
	padding: 0px 10px;
	width: 100%;
	background-color: #a168c2;
}

.nav_title {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	text-align: center;
	display: inline-block;
	left: 40px;
	right: 40px;
	position: absolute;
	margin: 0px;
}

.nav_fallback {
	display: inline-block;
	height: 44px;
	padding: 0px;
	width: 44px;
	text-align: center;
	color: #FFFFFF;
}

.nav_fallback span {
	line-height: 44px;
	font-size: 24px;
}

.forum_content_wrap ul{
	background-color: #efeff4;
}

.content_wrap {
	position: absolute;
	top: 44px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: auto;
	overflow-x: hidden;
}

.title_wrap{
	text-align: center;
	margin-top: 10px;
}

.title_wrap p{
	color: #000000;
	font-size: 20px;
}