<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间，用于隔离sql语句 ,namespace等于Mapper接口地址-->
<!-- #{}表示一个占位符 -->
<mapper namespace="cn.items.mssm.mapper.FculMapper">
    
    <!-- 查找出所有的文化 -->
    <select id="findFamCul" resultType="FCulCustom">
        select * from f_cul
    </select>
    
    <!-- 查找出对应条件的文化 -->
    <sql id="Base_Column_List" >
    	CulId, Title, Content, Opertime, Type
  	</sql>
  	<select id="findAnCulByType" resultType="FCulCustom" parameterType="Map" >
  		select
  		<include refid="Base_Column_List"/>
  		from f_cul
  		<where>
  		    <if test="type!=null and type!=''">
  		        and Type=#{type}
  		    </if>
  		</where>
  	</select>
    
    <!-- 根据Id查找对应的家族文化 -->
    <select id="findCulById" parameterType="int" resultType="FCulCustom">
        select * from f_cul where CulId=#{culid}
    </select>
    
    <!-- 上传家族文化 -->
    <sql id="Culkey">
      <trim suffixOverrides=",">
        <if test="title!=null">
            Title,
        </if>
        <if test="content!=null">
            Content,
        </if>
        <if test="opertime!=null">
            Opertime,
        </if>
        <if test="type!=null">
            Type,
        </if>
      </trim>
    </sql>
    
    <sql id="Culvalue">
      <trim suffixOverrides=",">
        <if test="title!=null">
            #{title},
        </if>
        <if test="content!=null">
            #{content},
        </if>
        <if test="opertime!=null">
            #{opertime},
        </if>
        <if test="type!=null">
            #{type},
        </if>
      </trim>
    </sql>
    <insert id="addFamCul" parameterType="FCulCustom">
        insert into f_cul(<include refid="Culkey"></include>) values(<include refid="Culvalue"></include>)
    </insert>
    
    <!-- 更新家族文化 -->
    <update id="updateFamCul" parameterType="FCulCustom">
        update f_cul
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null and title!=''">Title=#{title},</if>
            <if test="content!=null and title!=''">Content=#{content},</if>
            <if test="opertime!=null">Opertime=#{opertime},</if>
            <if test="type!=null">Type=#{type},</if>
        </trim>
        <where>
            <if test="culid!=null and culid!=''">
                and CulId=#{culid}
            </if>
        </where>
    </update>
    
    <!-- 删除一条家族文化 -->
    <delete id="deleteFamCul" parameterType="int">
        delete from f_cul where CulId=#{culid}
    </delete>
</mapper>