<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间，用于隔离sql语句 ,namespace等于Mapper接口地址-->
<!-- #{}表示一个占位符 -->
<mapper namespace="cn.items.mssm.mapper.FhonMapper">
    
    <!-- 读取对应家族的荣誉:展示端 -->
    <select id="findFamHon" resultType="FHonCustom">
        select HonId,Url from f_hon
    </select>
    
    <!-- 读取对应家族的荣誉:管理端-->
    <select id="findAllHon" resultType="FHonCustom">
        select Title,HonId,`Name`,Opertime from f_hon,f_userinfo where f_hon.OperId=f_userinfo.UserInfoId ORDER BY Opertime DESC
    </select>
    
    <!-- 有条件的读取家族荣誉 -->
    <sql id="Base_Column_List" >
    	HonId, Title, Content, OperId, Opertime, Url
  	</sql>
    <select id="findSomeHon" parameterType="Map" resultType="FHonCustom">
        select 
        <include refid="Base_Column_List" />
        from f_hon
        <where>
            <if test="content!=null and content!=''">
                and Content like CONCAT('%',#{content},'%') 
            </if>
            <if test="starttime!=null and starttime!=''">
                and Opertime &gt;=#{starttime}
            </if>
            <if test="endtime!=null and endtime!=''">
                and Opertime &lt;=#{endtime}
            </if>
        </where>
    </select>
    
    <!-- 根据Id读取对应家族的荣誉文字信息 -->
    <select id="findHonDety" parameterType="int" resultType="FHonCustom">
        select Title,Content,Url,`Name`,Opertime from f_hon,f_userinfo where f_hon.OperId=f_userinfo.UserInfoId and HonId=#{honid}
    </select>
    
    <!-- 增加对应家族荣誉 -->
    <sql id="Honkey">
      <trim suffixOverrides=",">
        <if test="title!=null">
            Title,
        </if>
        <if test="content!=null">
            Content,
        </if>
        <if test="operid!=null">
            OperId,
        </if>
        <if test="opertime!=null">
            Opertime,
        </if>
        <if test="url!=null">
            Url,
        </if>
      </trim>
    </sql>
    
    <sql id="Honvalue">
      <trim suffixOverrides=",">
        <if test="title!=null">
            #{title},
        </if>
        <if test="content!=null">
            #{content},
        </if>
        <if test="operid!=null">
            #{operid},
        </if>
        <if test="opertime!=null">
            #{opertime},
        </if>
        <if test="url!=null">
            #{url},
        </if>
      </trim>
    </sql>
    
    <insert id="addFamHon" parameterType="FHonCustom">
        insert into f_hon(<include refid="Honkey"></include>) values(<include refid="Honvalue"></include>)
    </insert>
    
    <!-- 删除对应Id的对应家族的荣誉 -->
    <delete id="deleteFamHon" parameterType="int">
        delete from f_hon where HonId=#{honid}
    </delete>
    
    <!-- 更新对应Id的对应家族的荣誉 -->
    <update id="updateFamHon" parameterType="FHonCustom">
        update f_hon
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null and title!=''">Title=#{title},</if>
            <if test="content!=null and title!=''">Content=#{content},</if>
            <if test="operid!=null">OperId=#{operid},</if>
            <if test="opertime!=null">Opertime=#{opertime},</if>
            <if test="url!=null and url!=''">Url=#{url},</if>
        </trim>
        <where>
            <if test="honid!=null and honid!=''">
                and HonId=#{honid}
            </if>
        </where>
    </update>
</mapper>