ul li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

body {
	background-color: #f1f1f1;
}

.nav {
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(98, 98, 98, 0.5);
	box-shadow: 0px 0px 20px rgba(98, 98, 98, 0.5);
}

.nav_content {
	height: 50px;
	width: 980px;
	margin: 0px auto;
}

.nav_content h4 {
	margin: 0px;
	line-height: 50px;
	display: inline-block;
	padding-right: 20px;
}

.login_wrap {
	display: inline-block;
	float: right;
}

.login_wrap a {
	font-size: 18px;
	line-height: 50px;
	margin-right: 10px;
	cursor: pointer;
}

.login_wrap a:last-child {
	margin-right: 0px;
}

.content_wrap {
	min-height: 600px;
	width: 980px;
	margin: 0px auto;
	margin-bottom: 30px;
}

.back {
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 250px;
	right: -100px;
	transform: rotate(-45deg);
	cursor: pointer;
}

.back span {
	position: absolute;
	transform: rotate(45deg);
	color: #FFFFFF;
	left: 7px;
	font-size: 20px;
}

.back p {
	color: #FFFFFF;
	position: absolute;
	font-size: 20px;
	transform: rotate(45deg);
	left: 25px;
	top: 47px;
	margin: 0px;
}

.now_lo_wrap {
	width: 980px;
	height: 80px;
	margin-top: 20px;
}

.now_lo_wrap span {
	float: right;
	margin: 0px;
	margin-right: 10px;
	font-size: 18px;
	line-height: 30px;
	margin-top: 50px;
}

.now_lo_wrap h3 {
	display: inline-block;
}

.login_bra {
	width: 393px;
	height: 450px;
	position: absolute;
	top: 100px;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
	z-index: 1001;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	display: none;
	opacity: 0;
}

.gre {
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(98, 98, 98, 0.2);
	display: none;
}

.l_wrap {
	height: 50px;
	width: 391px;
	background-color: #f7f7f7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.l_wrap p {
	display: inline-block;
	line-height: 50px;
	margin-left: 30px;
	font-size: 20px;
}

.l_wrap span {
	float: right;
	line-height: 50px;
	margin-right: 30px;
	font-size: 20px;
	cursor: pointer;
}

.con_wrap {
	padding: 10px;
	margin-top: 30px;
}

.l_sure {
	margin-top: 20px;
}

.forget {
	float: right;
	margin-top: 5px;
}

.list {
	overflow: hidden;
	margin-top: 15px;
	padding-top: 30px;
	border-top: 1px solid #000000;
}

.list ul {
	/*background-color: #FFFFFF;*/
}

.list ul li {
	margin-top: 20px;
}

.list ul li:first-child {
	margin-top: 0px;
}

.list ul li span {
	padding-right: 20px;
	border-right: 1px solid #000000;
	margin: 0px;
}

.list ul li a {
	color: #000000;
	cursor: pointer;
	padding-left: 10px;
	margin: 0px;
}

.list ul li a:hover {
	color: #3C763D;
}

.list ul li p {
	font-size: 15px;
	padding-left: 125px;
	margin: 0px;
}

.tcdPageCode {
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
	text-align: center;
}

.tcdPageCode a {
	display: inline-block;
	color: #428bca;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode a:hover {
	text-decoration: none;
	border: 1px solid #428bca;
}

.tcdPageCode span.current {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #fff;
	background-color: #428bca;
	border: 1px solid #428bca;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode span.disabled {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}